# Algumas análises gerais

In [1]:
import pandas as pd
# from matplotlib import pyplot as pl
# import plotly as pt

In [2]:
data_AVC = pd.read_csv('data.csv')
data_AVC = data_AVC.rename(columns={'Residence_type': 'residence_type'})
data_AVC['age'] = data_AVC['age'].astype(int)
data_AVC = data_AVC[data_AVC['heart_disease'] == 1]
data_AVC

,id,gender,age,hypertension,heart_disease,ever_married,work_type,residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,31112,Male,80,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
6,53882,Male,74,1,1,Yes,Private,Rural,70.09,27.4,never smoked,1
11,12095,Female,61,0,1,Yes,Govt_job,Rural,120.46,36.8,smokes,1
13,8213,Male,78,0,1,Yes,Private,Urban,219.84,NaN,Unknown,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4855,42563,Female,57,1,1,Yes,Private,Rural,231.72,45.7,formerly smoked,0
4869,72715,Female,50,0,1,Yes,Private,Urban,193.80,26.4,never smoked,0
4921,4062,Male,72,0,1,Yes,Private,Rural,238.27,NaN,smokes,0
4986,53697,Male,58,0,1,Yes,Private,Rural,225.35,26.5,smokes,0
5008,48109,Female,79,0,1,Yes,Private,Rural,88.51,24.5,never smoked,0

### Análise de Idade

In [6]:
contagem_genero = data_AVC['gender'].value_counts()

if contagem_genero.idxmax() == 'Male':
    print("A maioria dos casos de AVC ocorreu em homens")
else:
    print("A maioria dos casos de AVC ocorreu em mulheres")

A maioria dos casos de AVC ocorreu em homens

### Análise de Status de Fumo

In [5]:
contagem_fumante = data_AVC['smoking_status'].value_counts()

freq_fumante = contagem_fumante.idxmax()

if freq_fumante == 'smokes':
    print("A maioria dos casos de AVC ocorreu em fumantes")
elif freq_fumante == 'formely smoked':
    print("A maioria dos casos de AVC ocorreu em ex-fumantes")
elif freq_fumante == 'never smoked':
    print("A maioria dos casos de AVC ocorreu em pessoas que nunca fumaram")
else:
    print("A maioria dos casos de AVC ocorreu em pessoas cujo status de fum é desconhecido")

A maioria dos casos de AVC ocorreu em pessoas que nunca fumaram

### Análise de hipertensão

In [ ]:
verificacao_hipertensao = data_AVC['hypertension'].value_counts()

if verificacao_hipertensao.idxmax() == 0:
    print("A maioria dos casos de AVC ocorreu em pessoas não hipertensas")
else:
    print("A maioria dos casos de AVC ocorreu em pessoas hipertensas")