In [61]:
%pip install pandas
%pip install plotly.express
%pip install nbformat --user
%pip install plotly.subplots

Requirement already satisfied: pandas in c:\python312\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\alysson\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: plotly.express in c:\python312\lib\site-packages (0.4.1)
Requirement already satisfied: pandas>=0.20.0 in c:\python312\lib\site-packages (from plotly.express) (2.2.1)
Requirement already satisfied: plotly>=4.1.0 in c:\python312\lib\site-packages (from plotly.express) (5.20.0)
Requirement already satisfied: statsmodels>=0.9.0 in c:\python312\lib\site-packages (from plotly.express) (0.14.1)
Requirement already satisfied: scipy>=0.18 in c:\python312\lib\site-packages (from plotly.express) (1.13.0)
Requirement already satisfied: patsy>=0.5 in c:\python312\lib\site-packages (from plotly.express) (0.5.6)
Requirement already satisfied: numpy>=1.11 in c:\python312\lib\site-packages (from plotly.express) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\alysson\appdata\roaming\python\python312\site-packages (from pandas>=0.20.0->plotly.express) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\python312\lib\site-packages (from pandas>=0.20.0->plotly.express) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\python312\lib\site-packages (from pandas>=0.20.0->plotly.express) (2024.1)
Requirement already satisfied: six in c:\python312\lib\site-packages (from patsy>=0.5->plotly.express) (1.16.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\python312\lib\site-packages (from plotly>=4.1.0->plotly.express) (8.2.3)
Requirement already satisfied: packaging in c:\users\alysson\appdata\roaming\python\python312\site-packages (from plotly>=4.1.0->plotly.express) (24.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: nbformat in c:\python312\lib\site-packages (5.10.4)
Requirement already satisfied: fastjsonschema>=2.15 in c:\python312\lib\site-packages (from nbformat) (2.19.1)
Requirement already satisfied: jsonschema>=2.6 in c:\python312\lib\site-packages (from nbformat) (4.21.1)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\alysson\appdata\roaming\python\python312\site-packages (from nbformat) (5.7.2)
Requirement already satisfied: traitlets>=5.1 in c:\users\alysson\appdata\roaming\python\python312\site-packages (from nbformat) (5.14.2)
Requirement already satisfied: attrs>=22.2.0 in c:\python312\lib\site-packages (from jsonschema>=2.6->nbformat) (23.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\python312\lib\site-packages (from jsonschema>=2.6->nbformat) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in c:\python312\lib\site-packages (from jsonschema>=2.6->nbformat) (0.34.0)
Requirement already satisfied: rpds-py>=0.7.1 in c:\python312\lib\site-packages (from jsonschema>=2.6->nbformat) (0.18.0)
Requirement already satisfied: platformdirs>=2.5 in c:\users\alysson\appdata\roaming\python\python312\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (4.2.0)
Requirement already satisfied: pywin32>=300 in c:\users\alysson\appdata\roaming\python\python312\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (306)
Note: you may need to restart the kernel to use updated packages.
Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement plotly.subplots (from versions: none)
ERROR: No matching distribution found for plotly.subplots

In [62]:
import pandas as pd
import plotly.express as px
from plotly.subplots import make_subplots

In [63]:
df = pd.read_csv('healthcare-dataset-stroke-data.csv')
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [64]:
#Ordem alfabética pra facilitar análise
df = df.sort_values(by=['age'], kind='stable')
df['age'] = df['age'].astype(int)
df

#Valores ordenados e transformados em int para facilitar calculos e análises

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
1614,47350,Female,0,0,0,No,children,Urban,139.67,14.1,Unknown,0
3295,29955,Male,0,0,0,No,children,Rural,70.33,16.9,Unknown,0
3618,22877,Male,0,0,0,No,children,Urban,114.71,17.4,Unknown,0
3968,41500,Male,0,0,0,No,children,Rural,69.79,13.0,Unknown,0
4021,8247,Male,0,0,0,No,children,Urban,109.52,13.9,Unknown,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4716,5387,Female,82,0,0,No,Private,Rural,96.98,21.5,never smoked,0
4763,19191,Male,82,0,0,Yes,Private,Urban,217.57,33.5,formerly smoked,0
4819,48118,Female,82,0,0,Yes,Self-employed,Urban,113.45,30.3,never smoked,0
5062,11184,Female,82,0,0,Yes,Self-employed,Rural,211.58,36.9,never smoked,0
5100,68398,Male,82,1,0,Yes,Self-employed,Rural,71.97,28.3,never smoked,0

In [65]:
#Quantidade de pessoas por idade
qtd_idade = df['age'].value_counts()
qtd_idade

age
78    102
57     95
52     90
54     87
51     86
     ...
11     36
10     35
4      34
7      32
6      24
Name: count, Length: 83, dtype: int64

#Tirando todas as pessoas com idades superiores a 79 para facilitar a distribuição das frequências

In [66]:
df_filtro = df.query('age < 80')
df_filtro

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
1614,47350,Female,0,0,0,No,children,Urban,139.67,14.1,Unknown,0
3295,29955,Male,0,0,0,No,children,Rural,70.33,16.9,Unknown,0
3618,22877,Male,0,0,0,No,children,Urban,114.71,17.4,Unknown,0
3968,41500,Male,0,0,0,No,children,Rural,69.79,13.0,Unknown,0
4021,8247,Male,0,0,0,No,children,Urban,109.52,13.9,Unknown,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4777,10119,Male,79,0,0,Yes,Private,Rural,69.34,29.0,never smoked,0
4823,7218,Female,79,0,0,Yes,Private,Rural,214.73,30.9,never smoked,0
4988,30525,Female,79,0,0,Yes,Govt_job,Urban,95.42,21.5,formerly smoked,0
5008,48109,Female,79,0,1,Yes,Private,Rural,88.51,24.5,never smoked,0
5034,65405,Female,79,0,0,No,Private,Urban,253.86,28.8,formerly smoked,0

In [67]:
labels = [0,10,20,30,40,50,60,70]
df_frequencia = df_filtro
#right para o limite maior ser excludente, include_lowest para incluir o menor
df_frequencia.loc[:, 'age'] = pd.cut(df_filtro['age'], bins=8, labels=labels, right=False, include_lowest=True)
df_frequencia

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
1614,47350,Female,0,0,0,No,children,Urban,139.67,14.1,Unknown,0
3295,29955,Male,0,0,0,No,children,Rural,70.33,16.9,Unknown,0
3618,22877,Male,0,0,0,No,children,Urban,114.71,17.4,Unknown,0
3968,41500,Male,0,0,0,No,children,Rural,69.79,13.0,Unknown,0
4021,8247,Male,0,0,0,No,children,Urban,109.52,13.9,Unknown,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4777,10119,Male,70,0,0,Yes,Private,Rural,69.34,29.0,never smoked,0
4823,7218,Female,70,0,0,Yes,Private,Rural,214.73,30.9,never smoked,0
4988,30525,Female,70,0,0,Yes,Govt_job,Urban,95.42,21.5,formerly smoked,0
5008,48109,Female,70,0,1,Yes,Private,Rural,88.51,24.5,never smoked,0
5034,65405,Female,70,0,0,No,Private,Urban,253.86,28.8,formerly smoked,0

In [68]:

intervalos = [f'{i}-{i+10}' for i in range(0, 80, 10)]
df_frequencia['age'] = df_frequencia['age'].astype(str)
for i in range (0,80,10):
    print(i)
    df_frequencia.loc[df_frequencia['age'] == str(i),'age'] = intervalos[i//10]
df_frequencia

C:\Users\Alysson\AppData\Local\Temp\ipykernel_10920\1457748369.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

0
10
20
30
40
50
60
70

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
1614,47350,Female,0-10,0,0,No,children,Urban,139.67,14.1,Unknown,0
3295,29955,Male,0-10,0,0,No,children,Rural,70.33,16.9,Unknown,0
3618,22877,Male,0-10,0,0,No,children,Urban,114.71,17.4,Unknown,0
3968,41500,Male,0-10,0,0,No,children,Rural,69.79,13.0,Unknown,0
4021,8247,Male,0-10,0,0,No,children,Urban,109.52,13.9,Unknown,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4777,10119,Male,70-80,0,0,Yes,Private,Rural,69.34,29.0,never smoked,0
4823,7218,Female,70-80,0,0,Yes,Private,Rural,214.73,30.9,never smoked,0
4988,30525,Female,70-80,0,0,Yes,Govt_job,Urban,95.42,21.5,formerly smoked,0
5008,48109,Female,70-80,0,1,Yes,Private,Rural,88.51,24.5,never smoked,0
5034,65405,Female,70-80,0,0,No,Private,Urban,253.86,28.8,formerly smoked,0

In [69]:
#Verificando a quantidade de pessoas em cada intervalo
df_agrupado = df_frequencia['age'].value_counts().sort_index().reset_index()

df_agrupado

     age  count
0   0-10    472
1  10-20    494
2  20-30    549
3  30-40    655
4  40-50    730
5  50-60    834
6  60-70    621
7  70-80    569

In [70]:

fig1 = px.histogram(df_agrupado, x='age', y='count', title='Contagem de idades por intervalo')
fig1.show()

In [71]:
fig2 = px.pie(df_agrupado, values='count', names='age', title='Distribuição de idades por intervalo')
fig2.show()

TypeError: histogram() got an unexpected keyword argument 'values'

ValueError: Trace type 'pie' is not compatible with subplot type 'xy'
at grid position (1, 2)

See the docstring for the specs argument to plotly.subplots.make_subplots
for more information on subplot types

In [ ]:
intervalos = [(0, 10), (10, 20), (20, 30), (30, 40), (40, 50), (50, 60), (60, 70), (70, 80)]

# Inicialize um dicionário para armazenar as contagens de cada intervalo
contagens_intervalos = {}

# Itere sobre os intervalos e conte as idades em cada um deles
for intervalo in intervalos:
    inicio, fim = intervalo
    idades_intervalo = df[(df['age'] >= inicio) & (df['age'] < fim)]
    contagens_intervalos[f'{inicio}-{fim}'] = idades_intervalo.shape[0]

# Exiba a quantidade de idades em cada intervalo
for intervalo, quantidade in contagens_intervalos.items():
    print(f"Quantidade de idades no intervalo {intervalo}: {quantidade}")
    
#Por algum motivo a idade de 70-80 tava sendo contada 2 vezes antes , ai tive que fazer isso pra verificar se tava certo msm vlw gpt

Quantidade de idades no intervalo 0-10: 472
Quantidade de idades no intervalo 10-20: 494
Quantidade de idades no intervalo 20-30: 549
Quantidade de idades no intervalo 30-40: 655
Quantidade de idades no intervalo 40-50: 730
Quantidade de idades no intervalo 50-60: 834
Quantidade de idades no intervalo 60-70: 621
Quantidade de idades no intervalo 70-80: 569

In [ ]:
quantidade_infartos = []
df_filtro['age'] = df['age'].astype(int)
for i in range(0,80,10):
     ocorrencias_intervalo = df_filtro[(df_filtro['age'] >= i) & (df_filtro['age'] < i+10)]
     quantidade_infartos.append(ocorrencias_intervalo['stroke'].sum())
     print(f"Ocorrencias {ocorrencias_intervalo}:")

print(quantidade_infartos)

C:\Users\Alysson\AppData\Local\Temp\ipykernel_10920\2158219379.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Ocorrencias          id  gender  age  hypertension  heart_disease ever_married work_type  \
1614  47350  Female    0             0              0           No  children
3295  29955    Male    0             0              0           No  children
3618  22877    Male    0             0              0           No  children
3968  41500    Male    0             0              0           No  children
4021   8247    Male    0             0              0           No  children
...     ...     ...  ...           ...            ...          ...       ...
4756  11935  Female    9             0              0           No  children
4783  21980    Male    9             0              0           No  children
4792  41395    Male    9             0              0           No  children
4930  63575    Male    9             0              0           No  children
5098    579    Male    9             0              0           No  children

     Residence_type  avg_glucose_level   bmi smoking_status  stroke
1614          Urban             139.67  14.1        Unknown       0
3295          Rural              70.33  16.9        Unknown       0
3618          Urban             114.71  17.4        Unknown       0
3968          Rural              69.79  13.0        Unknown       0
4021          Urban             109.52  13.9        Unknown       0
...             ...                ...   ...            ...     ...
4756          Rural             110.97  17.7        Unknown       0
4783          Urban              66.11  16.3        Unknown       0
4792          Urban             123.66  17.0        Unknown       0
4930          Urban              84.40  14.9        Unknown       0
5098          Urban              71.88  17.5        Unknown       0

[472 rows x 12 columns]:
Ocorrencias          id  gender  age  hypertension  heart_disease ever_married work_type  \
519   22622    Male   10             0              0           No  children
667   62999    Male   10             0              0           No  children
974   11973  Female   10             0              0           No  children
1143  59275    Male   10             0              0           No  children
1222  18192    Male   10             0              0           No  children
...     ...     ...  ...           ...            ...          ...       ...
4815  43208  Female   19             0              0           No   Private
4837   8208    Male   19             0              0           No   Private
4940  68596  Female   19             0              0           No   Private
4980  19601  Female   19             0              0           No   Private
5083  72914  Female   19             0              0           No   Private

     Residence_type  avg_glucose_level   bmi smoking_status  stroke
519           Rural             108.79  21.0        Unknown       0
667           Rural              59.49  18.3        Unknown       0
974           Urban             124.60  18.6        Unknown       0
1143          Rural              58.03  35.2        Unknown       0
1222          Rural              93.11  14.6        Unknown       0
...             ...                ...   ...            ...     ...
4815          Urban              96.85  23.4        Unknown       0
4837          Rural              95.18  24.9         smokes       0
4940          Urban              58.39  28.2   never smoked       0
4980          Urban             100.60  20.5   never smoked       0
5083          Urban              90.57  24.2        Unknown       0

[494 rows x 12 columns]:
Ocorrencias          id  gender  age  hypertension  heart_disease ever_married  \
265   19584  Female   20             0              0           No
352   40670  Female   20             0              0           No
394    5708  Female   20             0              0           No
443   61350    Male   20             0              0           No
486   50441    Male   20             0              0           No
...     ...     ...  ...           ...            ...          ...
4726  46015  Female   29             0              0           No
4787  26305    Male   29             0              0           No
5014  30463    Male   29             0              0           No
5019  37713    Male   29             0              0          Yes
5080  22691  Female   29             0              0          Yes

          work_type Residence_type  avg_glucose_level   bmi   smoking_status  \
265         Private          Urban              84.62  19.7           smokes
352         Private          Rural              96.57  34.1     never smoked
394         Private          Urban              91.60  28.1     never smoked
443        Govt_job          Rural              98.70  26.2          Unknown
486         Private          Rural             104.48  21.7     never smoked
...             ...            ...                ...   ...              ...
4726        Private          Urban              73.63  22.5           smokes
4787  Self-employed          Rural              96.77  30.3  formerly smoked
5014        Private          Urban              82.93  29.4  formerly smoked
5019        Private          Urban             185.27  31.3     never smoked
5080  Self-employed          Urban              90.52  28.0     never smoked

      stroke
265        0
352        0
394        0
443        0
486        0
...      ...
4726       0
4787       0
5014       0
5019       0
5080       0

[549 rows x 12 columns]:
Ocorrencias          id  gender  age  hypertension  heart_disease ever_married work_type  \
308   40181  Female   30             0              0          Yes   Private
527   17019  Female   30             0              0          Yes  Govt_job
540   39383  Female   30             0              0          Yes   Private
593   59807  Female   30             0              0          Yes   Private
698   14391  Female   30             0              0          Yes   Private
...     ...     ...  ...           ...            ...          ...       ...
4873  22897    Male   39             0              0          Yes   Private
4896  53028  Female   39             0              0          Yes   Private
4909  70540  Female   39             0              0          Yes   Private
4985  37431  Female   39             0              0          Yes  Govt_job
5063  68967    Male   39             0              0          Yes   Private

     Residence_type  avg_glucose_level   bmi   smoking_status  stroke
308           Urban              61.45  36.7           smokes       0
527           Urban             113.85  34.0     never smoked       0
540           Urban              80.19  20.4     never smoked       0
593           Urban              59.82  25.4     never smoked       0
698           Rural              89.63  23.2           smokes       0
...             ...                ...   ...              ...     ...
4873          Rural              84.09  31.1  formerly smoked       0
4896          Rural              81.31  34.7     never smoked       0
4909          Urban             243.52  37.2           smokes       0
4985          Urban             109.03  24.9          Unknown       0
5063          Urban             179.38  27.7          Unknown       0

[655 rows x 12 columns]:
Ocorrencias          id  gender  age  hypertension  heart_disease ever_married  \
263   67855  Female   40             0              0          Yes
428   59906  Female   40             0              0          Yes
522   16380    Male   40             0              0          Yes
548   34641    Male   40             0              0           No
608   65130    Male   40             0              0          Yes
...     ...     ...  ...           ...            ...          ...
4861  65907  Female   49             0              0          Yes
4867  47427    Male   49             0              0          Yes
4888  39936  Female   49             0              0          Yes
4960  63287  Female   49             0              0          Yes
5057  38349  Female   49             0              0          Yes

          work_type Residence_type  avg_glucose_level   bmi   smoking_status  \
263         Private          Rural              95.04  42.4     never smoked
428         Private          Rural             139.90  31.7           smokes
522         Private          Rural              89.77   NaN           smokes
548         Private          Rural             100.35  28.1     never smoked
608         Private          Rural             144.48  29.8           smokes
...             ...            ...                ...   ...              ...
4861        Private          Urban             206.53  44.5           smokes
4867  Self-employed          Urban              70.73  27.3  formerly smoked
4888        Private          Rural              61.57  37.9  formerly smoked
4960        Private          Urban              77.93  39.1           smokes
5057       Govt_job          Urban              69.92  47.6     never smoked

      stroke
263        0
428        0
522        0
548        0
608        0
...      ...
4861       0
4867       0
4888       0
4960       0
5057       0

[730 rows x 12 columns]:
Ocorrencias          id  gender  age  hypertension  heart_disease ever_married  \
15    58202  Female   50             1              0          Yes
106   42072  Female   50             1              0          Yes
156   43054  Female   50             0              0          Yes
618   71533    Male   50             0              0          Yes
723   13365    Male   50             0              0          Yes
...     ...     ...  ...           ...            ...          ...
4755  12786  Female   59             0              0          Yes
4939  46086  Female   59             0              0          Yes
4995   5964  Female   59             0              0          Yes
5007  42647  Female   59             0              0          Yes
5091   6369    Male   59             1              0          Yes

          work_type Residence_type  avg_glucose_level   bmi   smoking_status  \
15    Self-employed          Rural             167.41  30.9     never smoked
106         Private          Rural              73.18  30.3  formerly smoked
156         Private          Rural             102.16  31.4           smokes
618         Private          Urban             158.31  32.8  formerly smoked
723         Private          Rural              77.65  24.4           smokes
...             ...            ...                ...   ...              ...
4755        Private          Urban              83.62  34.2          Unknown
4939        Private          Urban              71.08  28.1     never smoked
4995        Private          Urban             182.52  30.1          Unknown
5007       Govt_job          Urban             101.19  29.9  formerly smoked
5091        Private          Rural              95.05  30.9     never smoked

      stroke
15         1
106        1
156        1
618        0
723        0
...      ...
4755       0
4939       0
4995       0
5007       0
5091       0

[834 rows x 12 columns]:
Ocorrencias          id  gender  age  hypertension  heart_disease ever_married  \
18    27458  Female   60             0              0           No
44     7937    Male   60             1              0          Yes
172   67432  Female   60             0              0          Yes
239   32221    Male   60             0              1          Yes
353    4630  Female   60             0              0          Yes
...     ...     ...  ...           ...            ...          ...
4284  52361    Male   69             1              1          Yes
4554  11908  Female   69             0              0          Yes
4672  63880  Female   69             0              0          Yes
4745  55140    Male   69             1              0           No
4908  60426  Female   69             0              0          Yes

          work_type Residence_type  avg_glucose_level   bmi   smoking_status  \
18          Private          Urban              89.22  37.8     never smoked
44         Govt_job          Urban             213.03  20.2           smokes
172         Private          Urban              97.43  26.4           smokes
239         Private          Urban              91.92  35.9           smokes
353         Private          Rural              66.42  23.6     never smoked
...             ...            ...                ...   ...              ...
4284        Private          Urban              78.11  34.7  formerly smoked
4554  Self-employed          Urban              83.55  28.3  formerly smoked
4672  Self-employed          Urban              70.00  36.0     never smoked
4745        Private          Urban              75.95  28.6     never smoked
4908  Self-employed          Urban              67.55  38.1          Unknown

      stroke
18         1
44         1
172        1
239        1
353        0
...      ...
4284       0
4554       0
4672       0
4745       0
4908       0

[621 rows x 12 columns]:
Ocorrencias          id  gender  age  hypertension  heart_disease ever_married  \
66    17004  Female   70             0              0          Yes
87    71796  Female   70             0              1          Yes
96    35512  Female   70             0              0          Yes
149   58978  Female   70             0              1          Yes
164    3512  Female   70             1              0          Yes
...     ...     ...  ...           ...            ...          ...
4777  10119    Male   79             0              0          Yes
4823   7218  Female   79             0              0          Yes
4988  30525  Female   79             0              0          Yes
5008  48109  Female   79             0              1          Yes
5034  65405  Female   79             0              0           No

          work_type Residence_type  avg_glucose_level   bmi   smoking_status  \
66          Private          Urban             221.58  47.5     never smoked
87          Private          Rural              59.35  32.3  formerly smoked
96    Self-employed          Rural              76.34  24.4  formerly smoked
149         Private          Rural             239.07  26.1     never smoked
164   Self-employed          Urban              89.13  34.2  formerly smoked
...             ...            ...                ...   ...              ...
4777        Private          Rural              69.34  29.0     never smoked
4823        Private          Rural             214.73  30.9     never smoked
4988       Govt_job          Urban              95.42  21.5  formerly smoked
5008        Private          Rural              88.51  24.5     never smoked
5034        Private          Urban             253.86  28.8  formerly smoked

      stroke
66         1
87         1
96         1
149        1
164        1
...      ...
4777       0
4823       0
4988       0
5008       0
5034       0

[569 rows x 12 columns]:
[1, 1, 0, 6, 12, 48, 47, 94]

In [ ]:
df_agrupado['qtd_infartos'] = quantidade_infartos
df_agrupado

     age  count  qtd_infartos
0   0-10    472             1
1  10-20    494             1
2  20-30    549             0
3  30-40    655             6
4  40-50    730            12
5  50-60    834            48
6  60-70    621            47
7  70-80    569            94

In [ ]:
df_F = df_agrupado
df_F['Freq relativa %'] = (df_F['count'] / df_F['count'].sum()) * 100
df_F['infartos %'] = (df_F['qtd_infartos'] / df_F['count'].sum()) * 100
df_F

     age  count  qtd_infartos  Freq relativa %  infartos %
0   0-10    472             1         9.585703    0.020309
1  10-20    494             1        10.032494    0.020309
2  20-30    549             0        11.149472    0.000000
3  30-40    655             6        13.302193    0.121852
4  40-50    730            12        14.825345    0.243704
5  50-60    834            48        16.937449    0.974817
6  60-70    621            47        12.611698    0.954509
7  70-80    569            94        11.555646    1.909017

# Cálculos

    Amplitude geral = 80 - 0 = 80
    Amplitude relativa = 79 - 0 = 79
    Amplitude entre classs = 10