# Trabalho de Probabilidade e Estatística - Sistemas de Informação

Alunos:

- Alysson dos Anjos
- Brunna Gabriella da Silva
- Letícia Almeida
- Victor Hugo Bittencourt

## Tema: Análise a predição de AVCs

### Importando bibliotecas

In [1]:
import pandas as pd
# from matplotlib import pyplot as pl
# import plotly as pt

### Extraindo e tratando os dados do dataset

In [2]:
data = pd.read_csv('data.csv')
data = data.rename(columns={'Residence_type': 'residence_type'})
data['age'] = data['age'].astype(int)
data

,id,gender,age,hypertension,heart_disease,ever_married,work_type,residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

### Filtrando o dataframe para pegar só os caso de AVC

In [3]:
data_AVC = data[data['heart_disease'] == 1]
data_AVC

,id,gender,age,hypertension,heart_disease,ever_married,work_type,residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,31112,Male,80,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
6,53882,Male,74,1,1,Yes,Private,Rural,70.09,27.4,never smoked,1
11,12095,Female,61,0,1,Yes,Govt_job,Rural,120.46,36.8,smokes,1
13,8213,Male,78,0,1,Yes,Private,Urban,219.84,NaN,Unknown,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4855,42563,Female,57,1,1,Yes,Private,Rural,231.72,45.7,formerly smoked,0
4869,72715,Female,50,0,1,Yes,Private,Urban,193.80,26.4,never smoked,0
4921,4062,Male,72,0,1,Yes,Private,Rural,238.27,NaN,smokes,0
4986,53697,Male,58,0,1,Yes,Private,Rural,225.35,26.5,smokes,0
5008,48109,Female,79,0,1,Yes,Private,Rural,88.51,24.5,never smoked,0

### Algumas médias e modas de quem tem AVC

In [4]:
media_idade_AVC = data_AVC['age'].mean()
media_glucose_AVC = data_AVC['avg_glucose_level'].mean()
media_bmi_AVC = data_AVC['bmi'].mean()

moda_idade_AVC = data_AVC['age'].mode().iloc[0]
moda_glucose_AVC = data_AVC['avg_glucose_level'].mode().iloc[0]
moda_bmi_AVC = data_AVC['bmi'].mode().iloc[0]

print("media idade: ", media_idade_AVC, "\nmedia nivel de glicose: ", media_glucose_AVC, "\nmedia de IMC: ", media_bmi_AVC)
print("\nmoda idade: ", moda_idade_AVC, "\nmoda nivel de glicose: ", moda_glucose_AVC, "\nmoda de IMC: ", moda_bmi_AVC)

media idade:  68.18840579710145
media nivel de glicose:  136.81876811594202
media de IMC:  30.316460905349793

moda idade:  78
moda nivel de glicose:  85.82
moda de IMC:  31.0

### Calculando algumas medianas - e reordenando as colunas espeficicas do dataframe para cada uma

In [5]:
data_AVC.sort_values(by='age', inplace=True)
mediana_idade_AVC = data_AVC['age'].median()

data_AVC.sort_values(by='avg_glucose_level', inplace=True)
mediana_glucose_AVC = data_AVC['avg_glucose_level'].median()

data_AVC.sort_values(by='bmi', inplace=True)
mediana_bmi_AVC = data_AVC['bmi'].median()

print("mediana idade: ", mediana_idade_AVC, "\nmediana nivel de glicose: ", mediana_glucose_AVC, "\nmediana de IMC: ", mediana_bmi_AVC)

mediana idade:  71.0
mediana nivel de glicose:  106.545
mediana de IMC:  29.8

/tmp/ipykernel_106582/2923188190.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_AVC.sort_values(by='age', inplace=True)
/tmp/ipykernel_106582/2923188190.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_AVC.sort_values(by='avg_glucose_level', inplace=True)
/tmp/ipykernel_106582/2923188190.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_AVC.sort_values(by='bmi', inplace=True)

## Analises gerais

### genero

In [6]:
contagem_genero = data_AVC['gender'].value_counts()
contagem_fumante = data_AVC['smoking_status'].value_counts()

freq_genero = contagem_genero.idxmax()
freq_fumante = contagem_fumante.idxmax()

if freq_genero == 'Male':
    print("A maioria dos casos de AVC ocorreu em homens")
else:
    print("A maioria dos casos de AVC ocorreu em mulheres")

if freq_fumante == 'smokes':
    print("A maioria dos casos de AVC ocorreu em fumantes")
elif freq_fumante == 'formely smoked':
    print("A maioria dos casos de AVC ocorreu em ex-fumantes")
elif freq_fumante == 'never smoked':
    print("A maioria dos casos de AVC ocorreu em pessoas que nunca fumaram")
else:
    print("A maioria dos casos de AVC ocorreu em pessoas cujo status de fum é desconhecido")

A maioria dos casos de AVC ocorreu em homens
A maioria dos casos de AVC ocorreu em pessoas que nunca fumaram