# Trabalho de Probabilidade e Estatística - Sistemas de Informação

Alunos:

- Alysson dos Anjos
- Brunna Gabriella da Silva
- Letícia Almeida
- Victor Hugo Bittencourt

## Tema: Análise a predição de AVCs 

link da base de dados: 
    https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset

### Importando bibliotecas

In [1]:
%pip install pandas
import pandas as pd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/Letícia/.local/lib/python3.9/site-packages (2.1.3)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/Letícia/.local/lib/python3.9/site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/Letícia/.local/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/Letícia/.local/lib/python3.9/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/Letícia/.local/lib/python3.9/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

### Extraindo e tratando os dados do dataset

In [3]:
data = pd.read_csv('data.csv')
data = data.rename(columns={'Residence_type': 'residence_type'})
data = data.sort_values(by=['age'], kind='stable')
data['age'] = data['age'].astype(int)
data

,id,gender,age,hypertension,heart_disease,ever_married,work_type,residence_type,avg_glucose_level,bmi,smoking_status,stroke
1614,47350,Female,0,0,0,No,children,Urban,139.67,14.1,Unknown,0
3295,29955,Male,0,0,0,No,children,Rural,70.33,16.9,Unknown,0
3618,22877,Male,0,0,0,No,children,Urban,114.71,17.4,Unknown,0
3968,41500,Male,0,0,0,No,children,Rural,69.79,13.0,Unknown,0
4021,8247,Male,0,0,0,No,children,Urban,109.52,13.9,Unknown,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4716,5387,Female,82,0,0,No,Private,Rural,96.98,21.5,never smoked,0
4763,19191,Male,82,0,0,Yes,Private,Urban,217.57,33.5,formerly smoked,0
4819,48118,Female,82,0,0,Yes,Self-employed,Urban,113.45,30.3,never smoked,0
5062,11184,Female,82,0,0,Yes,Self-employed,Rural,211.58,36.9,never smoked,0
5100,68398,Male,82,1,0,Yes,Self-employed,Rural,71.97,28.3,never smoked,0

### Filtrando o dataframe para pegar só os caso de AVC

In [4]:
data_AVC = data[data['stroke'] == 1]
data_AVC
#box plot para idades e graficos de barra p os escalares

,id,gender,age,hypertension,heart_disease,ever_married,work_type,residence_type,avg_glucose_level,bmi,smoking_status,stroke
162,69768,Female,1,0,0,No,children,Urban,70.37,NaN,Unknown,1
245,49669,Female,14,0,0,No,children,Rural,57.93,30.9,Unknown,1
182,39912,Female,32,0,0,Yes,Private,Rural,76.13,29.9,smokes,1
118,31720,Female,38,0,0,No,Self-employed,Urban,82.28,24.0,formerly smoked,1
133,31563,Female,38,0,0,Yes,Private,Rural,101.45,NaN,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
56,38829,Female,82,0,0,Yes,Private,Rural,59.32,33.2,never smoked,1
128,37132,Male,82,0,0,Yes,Govt_job,Urban,200.59,29.0,formerly smoked,1
140,20439,Male,82,0,1,Yes,Govt_job,Rural,103.68,25.0,never smoked,1
187,67895,Female,82,1,1,Yes,Govt_job,Urban,215.94,27.9,formerly smoked,1
188,30184,Male,82,0,0,Yes,Private,Rural,86.62,29.5,formerly smoked,1

### Algumas médias e modas de quem tem AVC

In [5]:
media_idade_AVC = data_AVC['age'].mean()
media_glucose_AVC = data_AVC['avg_glucose_level'].mean()
media_bmi_AVC = data_AVC['bmi'].mean()

moda_idade_AVC = data_AVC['age'].mode().iloc[0]
moda_glucose_AVC = data_AVC['avg_glucose_level'].mode().iloc[0]
moda_bmi_AVC = data_AVC['bmi'].mode().iloc[0]

print("media idade: ", media_idade_AVC, "\nmedia nivel de glicose: ", media_glucose_AVC, "\nmedia de IMC: ", media_bmi_AVC)
print("\nmoda idade: ", moda_idade_AVC, "\nmoda nivel de glicose: ", moda_glucose_AVC, "\nmoda de IMC: ", moda_bmi_AVC)

media idade:  67.72690763052209
media nivel de glicose:  132.54473895582328
media de IMC:  30.471291866028707

moda idade:  78
moda nivel de glicose:  101.45
moda de IMC:  27.3

### Calculando algumas medianas - e reordenando as colunas espeficicas do dataframe para cada uma

In [6]:
data_AVC.sort_values(by='age', inplace=True)
mediana_idade_AVC = data_AVC['age'].median()

data_AVC.sort_values(by='avg_glucose_level', inplace=True)
mediana_glucose_AVC = data_AVC['avg_glucose_level'].median()

data_AVC.sort_values(by='bmi', inplace=True)
mediana_bmi_AVC = data_AVC['bmi'].median()

print("mediana idade: ", mediana_idade_AVC, "\nmediana nivel de glicose: ", mediana_glucose_AVC, "\nmediana de IMC: ", mediana_bmi_AVC)

mediana idade:  71.0
mediana nivel de glicose:  105.22
mediana de IMC:  29.7

/tmp/ipykernel_12904/2923188190.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_AVC.sort_values(by='age', inplace=True)
/tmp/ipykernel_12904/2923188190.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_AVC.sort_values(by='avg_glucose_level', inplace=True)
/tmp/ipykernel_12904/2923188190.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_AVC.sort_values(by='bmi', inplace=True)